{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load i18n icon_helpers %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Goanaut</title>
        {% render_bundle "main" "css" %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Alike&subset=latin-ext" rel="stylesheet" />
    </head>
    <body class="page">

        <header id="header" class="header{% if user.is_authenticated %} header-logged-in{% endif %}" role="banner">
            <div class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-collapse" aria-controls="header-collapse" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#"><b>&#2384;</b> Goanaut</a>
                <nav class="collapse navbar-collapse" id="header-collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="icon icon-star" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-star" /></svg>
                                {% trans "Events" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="icon icon-pencil" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-pencil" /></svg>
                                {% trans "Blog" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <svg class="icon icon-question-circle" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-question-circle" /></svg>
                                {% trans "Help" %}
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-right">
                        <div class="navbar-submit">
                            <a class="btn btn-outline-navbar" href="#" role="button">{% trans "Submit your event" %}</a>
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/accounts/login/" data-login-modal>
                                    <svg class="icon icon-lock" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-lock" /></svg>
                                    {% trans "Login" %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/accounts/signup/" data-signup-modal>
                                    <svg class="icon icon-lock" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-lock" /></svg>
                                    {% trans "Signup" %}
                                </a>
                            </li>
                        </ul>
                        <form class="form-inline navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-outline-primary" type="submit">
                                        <svg class="icon icon-magnifier" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-magnifier" /></svg>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </header>

        <div id="content" class="page-content">
            {% block content %}{% endblock %}
        </div>

        <div style="height: 0; width: 0; position: absolute; visibility: hidden;">
            {% include "icons.svg" %}
        </div>

        <script src="{% url 'jsi18n' %}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBiuQK_xDqFZ99YahdloDMQMbnRAiGovsQ"></script>
        {% render_bundle "main" "js" %}
    </body>
</html>
