{% extends "base.html" %}
{% load el_pagination_tags i18n icon_helpers %}

{% block content %}
    <div class="map-search">
        <div class="sidebar bg-inverse" role="complementary">
            <ul class="nav sidebar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% icon 'large/festival' %}
                        {% trans "Festival" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% icon 'large/open-air' %}
                        {% trans "Open Air" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% icon 'large/party' %}
                        {% trans "Indoor" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% icon 'large/seasonal' %}
                        {% trans "In- & Outdoor" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% icon 'large/club' %}
                        {% trans "Club" %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        {% blocktrans %}All<br>events{% endblocktrans %}
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content-header">
                <h2>{% trans "All events" %}</h2>
            </div>
            <div class="map-search-results">
                <div class="parties-container">
                    <div class="card-deck party-card-deck">
                        {% paginate 40 party_list %}
                        {% for party in party_list %}
                            <div class="card party-card" itemscope itemtype="http://schema.org/Event">
                                <a class="party-card-img-wrapper" href="{% url 'parties:detail' party.id %}">
                                    {% with '1 2 3 4 5 6 7 8 9 10' as image_list %}
                                        <img class="card-img" src="{{ MEDIA_URL }}{{ image_list.split|random }}.jpg" itemprop="image">
                                    {% endwith %}
                                </a>
                                <div class="card-overlay-top-left party-card-date">
                                    <em>{{ party.start_date|date:"M" }}</em>
                                    {{ party.start_date|date:"d" }}
                                </div>
                                {% if "days" not in party.end_date|timeuntil:party.start_date %}
                                    <p class="party-card-time">{{ party.start_date|date:"H:i" }} - {{ party.end_date|date:"H:i" }}</p>
                                {% endif %}
                                <div class="card-overlay-top-right">
                                    <a href="#">{% icon 'heart' %}</a>
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title" itemprop="name">{{ party.name }}</h4>
                                    <p class="card-text text-muted party-type">{{ party.get_type_display }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="map-search-results-footer">
                    <nav class="pagination-wrapper" aria-label="Search results pages">
                        {% show_pages %}
                    </nav>
                </div>
            </div>
        </div>
        <div id="map" class="map"></div>
    </div>
{% endblock %}
