{
  "root": true,
  "extends": "airbnb",
  "globals": {
    "google": true
  },
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "jquery": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0
  }
}
