{
  "root": true,
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "amd": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0
  }
}
