{% extends request.is_ajax|yesno:"base_modal.html,base.html" %}

{% load account crispy_forms_tags i18n socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="{% if request.is_ajax %}modal-content login{% else %}card{% endif %} signup-login-form-container" id="signup-modal-content">
        <div class="{% if request.is_ajax %}modal-body{% else %}card-block card-padding{% endif %} signup-login-form-card-block">
            {% get_providers as socialaccount_providers %}

            {% if socialaccount_providers %}
                <ul class="social-buttons socialaccount_providers">
                    {% for provider in socialaccount_providers %}
                        <li>
                            <a title="{{ provider.name }}" class="btn btn-block btn-lg mb-1 socialaccount_provider btn-{{ provider.id }}" href="{% provider_login_url provider.id process='login' %}">
                                <svg class="icon icon-{{ provider.id }}" width="20" height="20" aria-hidden="true"><use xlink:href="#icon-{{ provider.id }}" /></svg>
                                {{ provider.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="login-or">{% trans "or" %}</div>

                {% include "socialaccount/snippets/login_extra.html" %}
            {% else %}
                <p>{% blocktrans %}If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
            {% endif %}

            <form class="login-form" method="post" action="{% url 'account_login' %}">
                {% csrf_token %}
                {% crispy form %}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
                <button type="submit" class="btn btn-primary">{% trans "Sign In" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
