{% extends "base.html" %}

{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <div class="card signup-login-form-container" id="signup-modal-content">
        <div class="card-block card-padding signup-login-form-card-block">
            <form class="login-form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
                <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
{% endblock %}
