{% extends "admin/index.html" %}
{% load admin_extras i18n log %}

{% block sidebar %}
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>{% trans "Recent actions" %}</h2>
            <h3>{% trans "My actions" %}</h3>
            {% get_admin_log 10 as admin_log for_user user %}
            {% if not admin_log %}
                <p>{% trans "None available" %}</p>
            {% else %}
                <ul class="actionlist">
                    {% for entry in admin_log %}
                        <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                            {% if entry.is_deletion or not entry.get_admin_url %}
                                {{ entry.object_repr }}
                            {% else %}
                                <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                            {% endif %}
                            <br />
                            {% if entry.content_type %}
                                <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                            {% else %}
                                <span class="mini quiet">{% trans "Unknown content" %}</span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="module" id="latest-django-news-module">
            <h2>{% trans "Latest Django news" %}</h2>
            {% get_admin_feed 5 "http://www.djangoproject.com/rss/weblog/" as admin_feed %}
            {% if not admin_feed %}
                <p>{% trans "None available" %}</p>
            {% else %}
                <ul class="newslist">
                    {% for entry in admin_feed %}
                        <li>
                            <a href="{{ entry.link }}">{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
