// Colors
$gray: #555;
$gray-light: #828282;
$gray-lighter: #e2e2e2;
$brand-primary: #563d7c;
$brand-inverse: #0e0f11;

// Options
$enable-flex: true;
$enable-rounded: false;

// Body
$body-bg: #f8f8f8;
$body-color: $brand-inverse;

// Grid columns
$grid-gutter-width-base: 20px;

// Typography
$font-family-serif: "Alike", Times, serif;
$font-family-base: "Open Sans", Arial, sans-serif;
$font-size-base: 0.875rem;
$font-size-sm: 0.75rem;
$line-height-base: 1.42857142857143;

// Buttons
$btn-line-height: $line-height-base;

// Forms
$input-padding-x: 11px;
$input-padding-y: 9px;
$input-border-color: $gray-lighter;
$input-height: 40px;

// Custom forms
$custom-control-indicator-bg: #fff;
$custom-select-padding-x: 0.6875rem;
$custom-select-padding-y: 0.5625rem;

// Slider
$slider-border-radius: 0;
$slider-horizontal-width: calc(100% - 20px);

// Navbar
$navbar-padding-x: 0;
$navbar-padding-y: 0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $brand-primary;

// Pagination
$pagination-padding-x: 11px;
$pagination-padding-y: 9px;
$pagination-color: #929292;
$pagination-border-color: $gray-lighter;
$pagination-active-color: #828282;
$pagination-active-bg: #fff;
$pagination-active-border: #555;
