@import "globals/variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-slider/src/sass/bootstrap-slider";

@import "components/cards";
@import "components/forms";
@import "components/header";
@import "components/icons";
@import "components/pagination";

.sidebar {
  width: 100px;
}

.sidebar-nav {
  .nav-item {
    border-bottom: 1px solid #000;
  }

  .nav-link {
    @include size(100px);
    align-items: center;
    color: #cacbcb;
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    justify-content: center;
    line-height: 20px;
    text-align: center;

    .icon {
      @include size(40px);
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }
  }
}

.map-search {
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 80px;
  }

  .content {
    left: 100px;
    padding: 20px;
    position: absolute;
    top: 80px;
    width: 50%;
  }

  .content-header {
    background-color: #fff;
    margin: -20px -20px 20px;

    h2 {
      font-size: $font-size-base;
      font-weight: 700;
      line-height: 72px;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .map {
    bottom: 0;
    position: fixed !important;
    right: 0;
    top: 80px;
    width: calc(50% - 100px);
  }
}

.map-search-results-footer {
  text-align: center;
}

.filters {
  overflow: hidden;
}

.filters-section {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  margin-bottom: -1px;
  padding: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    color: #555;
  }
}
