@import "globals/variables";

@import "~bootstrap/scss/bootstrap";

@import "components/cards";
@import "components/header";
@import "components/icons";

.sidebar {
  width: 100px;
}

.sidebar-nav {
  .nav-item {
    border-bottom: 1px solid #000;
  }

  .nav-link {
    @include size(100px);
    align-items: center;
    color: #cacbcb;
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    justify-content: center;
    line-height: 20px;
    text-align: center;

    .icon {
      @include size(40px);
      color: #fff;
      display: block;
      margin-bottom: 5px;
    }
  }
}

.map-search {
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 80px;
  }

  .content {
    left: 100px;
    padding: 20px;
    position: absolute;
    top: 80px;
    width: calc(40% - 60px);
  }

  .map {
    bottom: 0;
    position: fixed !important;
    right: 0;
    top: 80px;
    width: calc(60% - 40px);
  }
}
