@import "globals/variables";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-slider/src/sass/bootstrap-slider";

@import "components/buttons";
@import "components/cards";
@import "components/forms";
@import "components/header";
@import "components/icons";
@import "components/jumbotron";
@import "components/list-group";
@import "components/pagination";
@import "components/sidenav";

@import "utilities/text";

.page {
  padding-top: 80px;
}

.action {
  color: $body-color;
  display: inline-block;

  @include hover-focus {
    color: $brand-primary;

    .action-icon {
      background-color: $brand-primary;
      color: #fff;
    }
  }
}

.action-icon {
  @include size(40px);
  border: 1px solid $brand-primary;
  border-radius: 50%;
  color: $brand-primary;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;

  .icon {
    @include size(16px);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.action-text {
  display: inline-block;
  vertical-align: middle;
}

.map-search {
  .sidenav {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 80px;
  }

  .content {
    left: 100px;
    padding: 20px;
    position: absolute;
    top: 80px;
    width: 50%;
  }

  .content-header {
    background-color: #fff;
    margin: -20px -20px 20px;

    h2 {
      font-size: $font-size-base;
      font-weight: 700;
      line-height: 72px;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
    }
  }

  .map {
    bottom: 0;
    position: fixed !important;
    right: 0;
    top: 80px;
    width: calc(50% - 100px);
  }
}

.map-search-results-footer {
  text-align: center;
}

.filters {
  overflow: hidden;
}

.filters-section {
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  margin-bottom: -1px;
  padding: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  label {
    color: #555;
  }

  .custom-checkbox {
    display: inline-block;
    font-size: $font-size-sm;
    margin-top: 11px;
  }
}
