.btn-facebook {
  background-color: $color-facebook;
  border-color: $color-facebook;
  color: #fff;
}

.btn-google {
  background-color: $color-google;
  border-color: $color-google;
  color: #fff;
}
