//
// Base styles
//

.card {
  color : inherit;
}


//
// Parties
//

.party-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: block;
  position: relative;

  .card-img-overlay {
    padding: 10px;
    pointer-events: none;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .card-title {
    font-size: $font-size-lg;
  }
}

// Party images
.party-card-img-wrapper {
  display: block;
  margin: -1px -1px 0;
  overflow: hidden;
  padding-top: 60%;
  position: relative;

  .card-img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.party-card-date {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  float: left;
  font-size: 20px;
  line-height: 25px;
  padding: 5px 0;
  text-align: center;
  @include size(50px);

  em {
    display: block;
    font-size: $font-size-sm;
    font-style: normal;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.party-card-time {
  color: #fff;
  float: left;
  line-height: 15px;
  margin-left: 20px;
  margin-top: 5px;
  text-transform: uppercase;
}

// Card set
.party-card-deck {
  flex-wrap: wrap;

  .card {
    margin: 0 10px 20px;
    min-width: calc(50% - 20px);
    width: calc(50% - 20px);
  }
}
