.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zindex-navbar;
}

.navbar-nav .nav-link {
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;

  .icon {
    float: left;
    margin-right: 5px;
  }
}

.navbar-nav .nav-item {
  margin-bottom: 20px;
  margin-top: 20px;

  + .nav-item {
    margin-left: 20px;
  }
}

.navbar-brand {
  background-color: $brand-primary;
  font-size: 18px;
  line-height: 20px;
  padding: 30px 20px;
  text-transform: uppercase;
  width: 160px;
}

.navbar-right {
  margin-right: 80px;

  .navbar-nav {
    float: left;

    .nav-item {
      margin: 0;
    }

    .nav-link {
      border-left: 1px solid #000;
      padding: 30px;
    }
  }
}

.navbar-submit {
  float: left;
  margin: 16px 30px;
}

.navbar-search {
  left: auto;
  position: absolute;
  right: 0;
  width: 80px;

  .form-control {
    background-color: $brand-inverse;
    border: 0;
    display: none;
    height: 80px;
    width: 100% !important;
  }

  .input-group-btn {
    display: table-cell;
    width: 1% !important;

    .btn {
      border-color: #000;
      border-width: 0 0 0 1px;
      height: 80px;
      margin-left: 0;
      padding: 30px;
      width: 80px;
    }
  }

  &.active {
    left: 160px;
    width: auto;

    .form-control {
      display: table-cell;
    }
  }
}

.btn-outline-navbar {
  border-color: $navbar-dark-color;
  color: $navbar-dark-color;
  padding: 13px 20px;
  @include button-outline-variant($brand-primary);
}
